table {
  width: 100%;
  border-collapse: collapse;
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }
}

.sem-estoque {
  color: red;
  font-weight: bold;
}

.estoque-baixo {
  color: #d4ac0d; 
  font-weight: bold;
}

.estoque-disponivel {
  color: green;
  font-weight: bold;
}